.site-header {
	position: relative;
	z-index: 1;
	background-color: $body-bg-color;
	padding: 15px;

	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&.sticky {
		box-shadow: 0 4px 20px rgba(0, 0, 0, .04);
		padding: 12px 0;
	}
}

.primary-menu {
	ul {
		display: block;
		margin: 0;
		padding: 0;

		li {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
		}

		a {
			padding: 10px 15px;
			color: #fff;
			transition: .3s all;
			font-family: $heading-font-family;
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;

			&:hover,
			&:focus {
				color: $primary-color;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	#mobile-menu, .navbar-toggler {
		display: none;
	}

	.header-center {
		display: block;
	}

	.header-right {
		.copyright {
			display: block;
		}

		.header-button {
			display: block;
			margin-bottom: 30px;
		}
	}

	.site-header {
		.header-inner {
			flex-direction: column;
		}
	}
}

@include media-breakpoint-down(lg) {
	.site-header__logo {
		img {
			width: 70px;
		}
	}

	.header-center {
		display: none;
	}

	.header-right {
		.copyright {
			display: none;
		}

		.header-button {
			display: none;
		}
	}
}
