body {
	overflow-x: hidden;
}

.container-fluid,
.container-extended,
.container-large,
.container-full-gap-100 {
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.9375rem);
	padding-left: var(--bs-gutter-x, 0.9375rem);
	margin-right: auto;
	margin-left: auto;
}

@media screen and (min-width: 1200px) {
	.main {
		margin: 0 0 0 260px;
	}

	.site-header {
		position: fixed !important;
		top: 0;
		bottom: 0;
		left: 0;
		width: 260px;
		height: 100vh;
		flex-shrink: 0;
		text-align: center;
		border-right: 1px solid rgba(255, 255, 255, .12);
		padding: 60px 15px !important;
	}

	.header-inner {
		height: 100%;
	}

	.container {
		--bs-gutter-x: 50px;
		max-width: 1320px;

		&.container--gutter-70 {
			max-width: 1370px;

			[class*="col-"] {
				padding-left: 35px;
				padding-right: 35px;
			}
		}
	}

	.container-extended {
		--bs-gutter-x: 50px;
		max-width: 1380px;
	}

	.container-large {
		--bs-gutter-x: 50px;
		max-width: 1540px;
	}

	.container-full-gap-100 {
		--bs-gutter-x: 100px;
	}
}
