.video-popup {
	--play-size: 82px;
	position: relative;

	.video-play-btn {
		transition: all .75s cubic-bezier(0, 0, .2, 1);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: var(--play-size);
		height: var(--play-size);
		background: $primary-color;
		border-radius: 50%;
		color: #fff;
	}

	.video-play-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		line-height: 1;
		margin-left: 1px;
		z-index: 2;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-top: 9px solid transparent;
			border-bottom: 9px solid transparent;
			border-left: 16px solid currentColor;
		}
	}

	.video-link {
		position: relative;
		border-radius: inherit;
		display: block;
		overflow: hidden;

		img {
			width: 100%;
			position: relative;
			border-radius: inherit;
		}
	}

	&:hover {
		.video-play-btn {
			transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1.2);
		}
	}
}
