.partner-img {
	width: 85%;
}

.partner-mobile-img {
	display: none;
}

@media screen and(max-width: 620px) {
	.partner-img {
		display: none;
	}
	.partner-mobile-img {
		display: block;
	}
}

@include media-breakpoint-down(sm) {
	.partner-img {
		width: 100%;
	}
}
