.section-register {
	.register-title {
		font-size: 40px;
		line-height: 1.5;
		margin: 0 0 26px;
		max-width: 472px;
	}
}

.register-image {
	text-align: center;
}

@include media-breakpoint-down(sm) {
	.section-register {
		.register-title {
			font-size: 28px;
			max-width: 370px;
			margin: 0 auto 10px;
			text-align: center;
		}

		.button-wrap {
			text-align: center;
			margin: 0 0 25px;
		}
	}

	.slider-event-tags-bottom {
		margin: 80px 0 0;
	}
}
