$primary-color: #e7087b;
$primary-color-darken: #b327be;

$body-font-family: 'TTCommons', sans-serif;
$body-font-weight: 400;
$body-font-weight-secondary: 500;
$body-color: #fff;
$body-bg-color: #0b0e26;
$heading-font-family: 'Unbounded', sans-serif;
$heading-font-weight: 700;
$heading-font-weight-secondary: 600;
$heading-color: #fff;
$link-color: #fff;
$link-hover-color: $primary-color;

$button-rounded: 0;
$button-font-family: $heading-font-family;
$button-font-size: 15px;
$button-font-weight: 700;
$button-letter-spacing: 0;
$button-text-transform: uppercase;
$button-text: #fff;
$button-background: #080a1f;
$button-border: $primary-color;
$button-hover-text: #fff;
$button-hover-background: $primary-color;
$button-hover-border: $primary-color;

$form-font-family: $body-font-family;
$form-font-weight: $body-font-weight;
$form-font-size: 15px;
$form-line-height: 26px;
$form-input-border-thickness: 1px;
$form-input-padding: 18px;
$form-input-height: 50px;
$form-input-rounded: 5px;
$form-textarea-rounded: 5px;
$form-text: #000;
$form-border: #d2d2d2;
$form-background: #fff;
$form-shadow: none;
$form-focus-text: #000;
$form-focus-border: #000;
$form-focus-background: #fff;
$form-focus-shadow: none;

// Alert
$success-color: #6cbd7e;
$error-color: #d9534f;
$warning-color: #ff9800;
$info-color: #2196f3;

$box-small-rounded: 0;
