.section-hero {
	.section-content {
		display: flex;
		align-items: center;
		padding: 80px 0;
		min-height: 800px;
	}
}

.hero-title {
	font-size: 58px;
	line-height: 1.25;
	margin: 0 0 28px;
	text-transform: none;
	text-shadow: 0 0 5px rgba(0, 0, 0, .2);

	mark {
		color: $primary-color;
	}
}

.hero-sub-title {
	font-size: 32px;
	margin: 0 0 10px;
	line-height: 1.25;
}

.hero-event-info {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 26px;
	margin: 97px 0 0;
	padding: 0;
	position: absolute;
	bottom: 65px;
	left: var(--bs-gutter-x);
	right: var(--bs-gutter-x);

	li {
		list-style-type: none;
		display: inline-flex;
		margin: 15px 108px 0 0;

		&:last-child {
			margin: 15px 0 0 !important;
		}
	}

	svg {
		flex-shrink: 0;
		margin: 0 12px 0 0;
	}
}

.shape-hero-drum {
	top: 50%;
	transform: translate(0, -50%);
	left: 35%;

	img {
		max-width: 50vw;
	}
}

.slider-event-tags {
	background: $primary-color;
}

.slider-event-tags-bottom {
	margin-top: 140px;
}

.marquee-tag {
	display: flex;
	align-items: center;
	padding: 8px 0;

	h3 {
		font-size: 15px;
		line-height: 26px;
		margin: 0 23px 0 0;
	}

	svg {
		flex-shrink: 0;
		width: 32px;
		height: 34px;
	}
}

@media screen and(max-width: 1199px) {
	.section-hero {
		.section-content {
			min-height: 0;

			.hero-event-info {
				position: static;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.hero-sub-title {
		font-size: 26px;
		margin: 0 0 12px;
	}

	.hero-title {
		font-size: 44px;
	}

	.hero-event-info {
		margin: 60px 0 0;
	}

	.shape-hero-drum {
		top: 35%;
		left: 46%;
	}
}

@include media-breakpoint-down(xs) {
	.hero-sub-title {
		font-size: 24px;
		margin: 0 0 12px;
	}

	.hero-title {
		font-size: 36px;
	}
}
