.section-partners {
	padding: 71px 0 0 !important;
}

.section-project {
	.section-title-with-icon {
		margin: 0 0 102px;
	}
}

.project-name {
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1.5;
	margin: 0 0 28px;
}

.project-excerpt {
	font-size: 20px;
	line-height: 1.4;
	color: #6d6f8a;
	font-weight: 500;
	margin: 0 0 28px;
}

.btn-view-project {
	margin: 0 0 20px;
}

@include media-breakpoint-down(sm) {
	.project-name {
		font-size: 28px;
		margin: 0 0 12px;
	}

	.section-project {
		.section-title-with-icon {
			margin: 0 0 30px;
		}
	}

	.col-project-feature {
		order: -9;
		margin: 0 0 25px;
	}
}
