.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@include NormalTransition();
	display: inline-block;
	position: relative;
	padding: 5px 28px;
	min-height: 52px;
	line-height: 46px;
	outline: none;
	text-decoration: none;
	color: var(--mg-button-text, $button-text);
	border: 2px solid var(--mg-button-border, $button-border);
	background-color: var(--mg-button-background, $button-background);
	border-radius: $button-rounded;
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	letter-spacing: $button-letter-spacing;
	text-transform: $button-text-transform;
	text-align: center;
	user-select: none;
	box-shadow: none;

	&:focus {
		outline: none;
	}

	&[disabled],
	&.disabled {
		cursor: not-allowed;
		background-color: $button-background !important;
		border-color: $button-border !important;
		color: $button-text !important;
		box-shadow: none !important;
	}

	&:focus,
	&:hover {
		color: var(--mg-button-hover-text, $button-hover-text);
		border-color: var(--mg-button-hover-border, $button-hover-border);
		background-color: var(--mg-button-hover-background, $button-hover-background);
	}
}

.button {
	display: inline-flex;
	align-items: center;
	line-height: 26px;
	margin: 0 0 8px 8px;

	&:hover {
		&:before {
			transform: none !important;
		}
	}

	&:before {
		@extend %NormalTransition;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-8px, 8px);
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid var(--mg-button-border, $button-border);
		z-index: -1;
	}
}

.button-bottom-line {
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	letter-spacing: $button-letter-spacing;
	text-transform: $button-text-transform;
	color: $primary-color;
	position: relative;
	display: inline-block;
	line-height: 26px;
	padding: 2px 0;

	&:before,
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		transform-origin: right;
		transform: scaleX(1) translateZ(0);
		transition: transform .6s cubic-bezier(.165, .84, .44, 1) .3s, -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .3s;
	}

	&:before {
		background: var(--line-color, currentColor);
	}

	&:after {
		background: var(--hover-line-color, currentColor);
		transform-origin: left;
		transform: scaleX(0) translateZ(0);
		transition: transform .6s cubic-bezier(.165, .84, .44, 1);
	}

	&:hover {
		&:before {
			transform: scaleX(0) translateZ(0);
			transition: transform .6s cubic-bezier(.165, .84, .44, 1);
		}

		&:after {
			transform: scaleX(1) translateZ(0);
			transition: transform .6s cubic-bezier(.165, .84, .44, 1) .3s, -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .3s;
		}
	}
}

@include media-breakpoint-up(lg) {
	button,
	input[type='button'],
	input[type='reset'],
	input[type='submit'] {
		padding: 0 35px;
		height: 60px;
		line-height: 56px;
		font-size: $button-font-size;
	}
}
